# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
